//
//  Secrets.xcconfig
//  Love365
//
//  Created by 정주호 on 21/02/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GOOGLE_API_KEY = AIzaSyD_BmQ3L-vEwcP3ZttV3Edeu0gp0HHNkeQ
GOOGLE_CLIENT_ID = 761358106318-lc26qgdpp0octs19cak9ubvava843d62.apps.googleusercontent.com
REVERSED_CLIENT_ID = com.googleusercontent.apps.761358106318-lc26qgdpp0octs19cak9ubvava843d62
